<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div style="padding: 10px">
            <p>{DisplayName},</p>
            <p>Thank you for supporting ACRD! Here's your order info:</p>
            <ul>{Items}</ul>
            <p>{Discount}</p>
            <p>{ServiceFee}</p>
            <p style="font-weight: bold">Total: {Total}</p>
            <p>order #: {OrderId}</p>
            <div>{QRCode}</div>
            <p>Sincerly,</p>
            <p>UKillLele</p>
        </div>
    </body>
</html>